header {
    margin: 20px 0px 20px 0px;
}
body {
    text-align: left;
    max-width: 700px;
    display: block;
    margin: 0 auto;
    color: #494949;
    font-family: 'Open Sans', sans-serif;
}


footer {
    margin-top: 20px;
    text-align: center;
}
footer a{
    color: black;
}
footer a:hover{
    color: black;
    font-weight: 600;
}

h1 {
   text-transform: capitalize;
   color: #6D7975;
   text-align: center;
}